{% extends "main_menu.html" %}

{% block content %}
    <ul>
        {% for category, items in items_by_category %}
            <h2>{{ category.name }}</h2>
            <ul>
                {% for item in items %}
                    <li>
                        <a style="font-size: large" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                        <p>Category: {{ category.name }}</p>
                        <p style="margin-bottom: 50px">Price: {{ item.price }}$</p>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}
